<% include ../partials/header %>


<h1 class="formHeaders">Edit <%= workout.workout %></h1>

    <div class="formStyles">
        
        <form class="ui form" action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
            <div class="field">
                <input type="text" name="workout[workout]" value="<%= workout.workout %>">
            </div>
            <div class="field">
                <input type="text" name="workout[image]" value="<%= workout.image %>">
            </div>
            <div class="field">
                <input type="text" name="workout[description]" value="<%= workout.description %>">
            </div>
            <div class="field">
                <button class="ui primary fluid ui button">Submit</button>
            </div>
        </form>
        <br>
        <p><a href="/workouts">Go back</a></p>
    </div>
    

<% include ../partials/footer %>

