

<% include ../partials/header %>
<div class="ui  mobile reversed two column stackable grid">
  <div class="four wide column">
      <!--<div class="ui segment">Content</div>-->
      <h1>Workout Listings</h1>
      <div class="ui segments">
        <div class="ui segment">
          <p>Top</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
      </div>
      <p>MAP</p>
  </div>
  <div class="twelve wide column">
      <div class="row">
        <div style="max-width: 650px;" class="ui fluid card"><!-- REFACTOR style="max-width: 650px;" -->
          <img class="ui fluid image" src="<%= workout.image %>">
          <div class="content">
            <h3><a><%= workout.workout %></a>
            <span class="right floated">€25.00/class*</span></h3><!-- GET RID OF STYLE TAG -->
            <p><%= workout.description %></p>
            <p><em>Trainer: <%= workout.author.username %></em></p>
            <% if(currentUser && workout.author.id.equals(currentUser._id)) { %>
              <form id="delete-form" action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
                <button class="tiny ui right floated red button">Delete</button>
              </form>
              <a class="tiny ui right floated orange button" href="/workouts/<%= workout._id %>/edit">Edit</a>
            <% } %>
          </div>
        </div>
      </div>
        <div style="max-width: 620px;" class="ui inverted divider"></div><!-- REFACTOR style="max-width: 650px;" -->

      <div class="row">
        <div  style="max-width: 650px;" class="ui secondary segment"><!-- REFACTOR style="max-width: 650px;" -->
          <p style="padding-bottom: 30px;">
            <a class="ui right floated inverted orange button" href="/workouts/<%= workout._id %>/comments/new">Add a Comment</a>
          </p>
          <div class="ui inverted divider"></div>
          
          <div style="margin-top: 20px;" class="ui comments">
            <% workout.comments.forEach(function(comment) { %>
              <div class="comment">
                <a class="avatar">
                  <img src="https://cdn.pixabay.com/photo/2017/02/21/08/12/filter-2085021__340.jpg">
                </a>
                <div class="content">
                  <a class="author"><%= comment.author.username %></a>
                  <div class="metadata">
                    <div class="date">2 days ago</div>
                  </div>
                  <div class="text">
                    <%= comment.text %>
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
            <% }) %>   
          </div>
        </div>
        
        
        
      </div>
        
        
        
        
    </div>
</div>
    
    
    <p><a href="/workouts">Go back</a></p>
    
<% include ../partials/footer %>