<% include partials/header %>
    <h1><%= workout.workout %></h1>
    
    <img src="<%= workout.image %>">
    
    <p><%= workout.description %></p>
    
    <% workout.comments.forEach(function(comment) { %>
        <p>
            <strong><%= comment.author %></strong> - <%= comment.text %>
        </p>
    <% }) %>
    
    <p><a href="/workouts">Go back</a></p>
    
<% include partials/footer %>